<a href="https://colab.research.google.com/github/pranavireddy9/Airbnb/blob/main/airbnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pymongo
import mysql.connector
import streamlit as st
from streamlit_option_menu import option_menu
import pandas as pd
import numpy as np
import requests
import json
import plotly.express as px


client = pymongo.MongoClient("mongodb+srv://Pranave:Yerram123@cluster0.ha4wgxj.mongodb.net/?retryWrites=true&w=majority")
db = client["sample_airbnb"]
lis_list=[]
col1=db["listingsAndReviews"]
for lis_details in col1.find():
    lis_list.append(lis_details)
df=pd.DataFrame(lis_list)

In [ ]:
%cd /tmp

/tmp

In [ ]:
%ls

dap_multiplexer.38cf0775fa49.root.log.INFO.20240109-033319.83
dap_multiplexer.INFO@
debugger_o2mhhba0i=
initgoogle_syslog_dir.0/
language_service.38cf0775fa49.root.log.INFO.20240109-033402.307
language_service.INFO@
python-languageserver-cancellation/

In [5]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.6.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (677 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.1/677.1 kB 4.0 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 26.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.6.1

In [6]:
import pymongo

In [7]:
import pandas as pd

In [19]:
client = pymongo.MongoClient("mongodb+srv://Pranave:Yerram123@cluster0.ha4wgxj.mongodb.net/?retryWrites=true&w=majority")
db = client["sample_airbnb"]
lis_list=[]
collection=db["listingsAndReviews"]
Documents = [i for i in collection.find()]
len(Documents)

5555

In [20]:
res = [i for i in collection.find({},{'_id':1,'name':1,'description':1,'host.host_id':1,'host.host_name':1,'host.host_neighbourhood':1,'address.location.coordinates':1,'price':1, 'availability.availability_30':1 , 'availability.availability_60':1 ,'availability.availability_90':1 ,'availability.availability_365':1,'room_type':1,'minimum_nights':1,'maximum_nights':1 ,'number_of_reviews':1,'host.host_total_listings_count':1,'review_scores.review_scores_rating':1,'review':1,'amenities':1,'property_type':1})]


data = {'Id':[],'Name':[],'Description':[],'Property Type':[],'Room Type':[],'Minimum Nights':[],'Maximum Nights':[],'Number Of Reviews':[],'Amenities':[],'Price':[],'Host ID':[],'Host Name':[],'Host Neighbourhood':[],'Host Total Listings Count':[],'Longitide':[],'Latitude':[],'Availability 30':[],'Availability 60':[],'Availability 90':[],'Availability 365':[],'Rating':[]}


data

{'Id': [],
 'Name': [],
 'Description': [],
 'Property Type': [],
 'Room Type': [],
 'Minimum Nights': [],
 'Maximum Nights': [],
 'Number Of Reviews': [],
 'Amenities': [],
 'Price': [],
 'Host ID': [],
 'Host Name': [],
 'Host Neighbourhood': [],
 'Host Total Listings Count': [],
 'Longitide': [],
 'Latitude': [],
 'Availability 30': [],
 'Availability 60': [],
 'Availability 90': [],
 'Availability 365': [],
 'Rating': []}

In [21]:
res = [i for i in collection.find({},{'_id':1,'name':1,'description':1,'host.host_id':1,'host.host_name':1,'host.host_neighbourhood':1,'address.location.coordinates':1,'price':1, 'availability.availability_30':1 , 'availability.availability_60':1 ,'availability.availability_90':1 ,'availability.availability_365':1,'room_type':1,'minimum_nights':1,'maximum_nights':1 ,'number_of_reviews':1,'host.host_total_listings_count':1,'review_scores.review_scores_rating':1,'review':1,'amenities':1,'property_type':1})]


data = {'Id':[],'Name':[],'Description':[],'Property Type':[],'Room Type':[],'Minimum Nights':[],'Maximum Nights':[],'Number Of Reviews':[],'Amenities':[],'Price':[],'Host ID':[],'Host Name':[],'Host Neighbourhood':[],'Host Total Listings Count':[],'Longitide':[],'Latitude':[],'Availability 30':[],'Availability 60':[],'Availability 90':[],'Availability 365':[],'Rating':[]}


data

{'Id': [],
 'Name': [],
 'Description': [],
 'Property Type': [],
 'Room Type': [],
 'Minimum Nights': [],
 'Maximum Nights': [],
 'Number Of Reviews': [],
 'Amenities': [],
 'Price': [],
 'Host ID': [],
 'Host Name': [],
 'Host Neighbourhood': [],
 'Host Total Listings Count': [],
 'Longitide': [],
 'Latitude': [],
 'Availability 30': [],
 'Availability 60': [],
 'Availability 90': [],
 'Availability 365': [],
 'Rating': []}

In [22]:
res[0]

{'_id': '10009999',
 'name': 'Horto flat with small garden',
 'description': 'One bedroom + sofa-bed in quiet and bucolic neighbourhood right next to the Botanical Garden. Small garden, outside shower, well equipped kitchen and bathroom with shower and tub. Easy for transport with many restaurants and basic facilities in the area. Lovely one bedroom + sofa-bed in the living room, perfect for two but fits up to four comfortably.  There´s a small outside garden with a shower There´s a well equipped open kitchen with both 110V / 220V wall plugs and one bathroom with shower, tub and even a sauna machine! All newly refurbished! I´ll be happy to help you with any doubts, tips or any other information needed during your stay. This charming ground floor flat is located in Horto, a quiet and bucolic neighborhood just next to the Botanical Garden, where most of the descendants of it´s first gardeners still live. You´ll be 30 minutes walk from waterfalls in the rainforest with easy hiking trails! There are nice bars and restaurants as well as basic facilities - pharmacy, b',
 'property_type': 'Apartment',
 'room_type': 'Entire home/apt',
 'minimum_nights': '2',
 'maximum_nights': '1125',
 'number_of_reviews': 0,
 'amenities': ['Wifi',
  'Wheelchair accessible',
  'Kitchen',
  'Free parking on premises',
  'Smoking allowed',
  'Hot tub',
  'Buzzer/wireless intercom',
  'Family/kid friendly',
  'Washer',
  'First aid kit',
  'Essentials',
  'Hangers',
  'Hair dryer',
  'Iron',
  'Laptop friendly workspace'],
 'price': Decimal128('317.00'),
 'host': {'host_id': '1282196',
  'host_name': 'Ynaie',
  'host_neighbourhood': 'Jardim Botânico',
  'host_total_listings_count': 1},
 'address': {'location': {'coordinates': [-43.23074991429229,
    -22.966253551739655]}},
 'availability': {'availability_30': 0,
  'availability_60': 0,
  'availability_90': 0,
  'availability_365': 0},
 'review_scores': {}}

In [23]:
for i in res:

  # Id
  data['Id'].append(i['_id'])

  # Name
  data['Name'].append(i['name'])

  # Description
  data['Description'].append(i['description'])

  # Property Type
  data['Property Type'].append(i['property_type'])

  # Room Type
  data['Room Type'].append(i['room_type'])

  # Minimun Nights
  data['Minimum Nights'].append(i['minimum_nights'])

  # Maximun Nights
  data['Maximum Nights'].append(i['maximum_nights'])

  # Number Reviews
  data['Number Of Reviews'].append(i['number_of_reviews'])

  # Amenities
  data['Amenities'].append(i['amenities'])

  # Price
  data['Price'].append(i['price'])

  # Host details
  data['Host ID'].append(i['host']['host_id'])
  data['Host Name'].append(i['host']['host_name'])
  data['Host Neighbourhood'].append(i['host']['host_neighbourhood'])
  data['Host Total Listings Count'].append(i['host']['host_total_listings_count'])

  # Longitude and Latitude
  data['Longitide'].append(i['address']['location']['coordinates'][0])
  data['Latitude'].append(i['address']['location']['coordinates'][1])

  # Availability
  data['Availability 30'].append(i['availability']['availability_30'])
  data['Availability 60'].append(i['availability']['availability_60'])
  data['Availability 90'].append(i['availability']['availability_90'])
  data['Availability 365'].append(i['availability']['availability_365'])

  # Rating  'review_scores': {'review_scores_rating': 100}}
  data['Rating'].append(i['review_scores']['review_scores_rating'] if 'review_scores_rating' in i['review_scores'] else 0 )

In [24]:
pd.set_option('display.max_columns',None)

df = pd.DataFrame(data)

In [28]:
df.columns = ['id', 'name', 'description', 'property_type', 'room_type',
       'minimum_nights', 'maximum_nights', 'number_of_Reviews', 'amenities',
       'price', 'host_iD', 'host_name', 'host_neighbourhood',
       'host_total_listings_count', 'longitide', 'latitude', 'availability_30',
       'availability_60', 'availability_90', 'availability_365', 'rating']

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         5555 non-null   object
 1   name                       5555 non-null   object
 2   description                5555 non-null   object
 3   property_type              5555 non-null   object
 4   room_type                  5555 non-null   object
 5   minimum_nights             5555 non-null   int64
 6   maximum_nights             5555 non-null   int64
 7   number_of_Reviews          5555 non-null   int64
 8   amenities                  5555 non-null   object
 9   price                      5555 non-null   float64
 10  host_iD                    5555 non-null   object
 11  host_name                  5555 non-null   object
 12  host_neighbourhood         5555 non-null   object
 13  host_total_listings_count  5555 non-null   int64
 14  longitide                  5555 non-null   float64
 15  latitude                   5555 non-null   float64
 16  availability_30            5555 non-null   int64
 17  availability_60            5555 non-null   int64
 18  availability_90            5555 non-null   int64
 19  availability_365           5555 non-null   int64
 20  rating                     5555 non-null   int64
dtypes: float64(3), int64(9), object(9)
memory usage: 911.5+ KB

In [35]:
nan_counts = df.isna().sum()
nan_counts

id                           0
name                         0
description                  0
property_type                0
room_type                    0
minimum_nights               0
maximum_nights               0
number_of_Reviews            0
amenities                    0
price                        0
host_iD                      0
host_name                    0
host_neighbourhood           0
host_total_listings_count    0
longitide                    0
latitude                     0
availability_30              0
availability_60              0
availability_90              0
availability_365             0
rating                       0
dtype: int64

In [30]:
df['minimum_nights'] = df.minimum_nights.apply(lambda x : int(x))

df['maximum_nights'] = df.maximum_nights.apply(lambda x : int(x))

df['number_of_Reviews'] = df.number_of_Reviews.apply(lambda x : int(x))

df['price'] = df.price.astype(str).astype(float)

df.host_total_listings_count = df.host_total_listings_count.apply(lambda x : int(x))

df.longitide	 = df.longitide.apply(lambda x : float(x))

df.latitude = df.latitude.apply(lambda x : float(x))

df.availability_30 = df.availability_30.apply(lambda x : int(x))

df.availability_60 = df.availability_60.apply(lambda x : int(x))

df.availability_90 =  df.availability_90.apply(lambda x : int(x))

df.availability_365 = df.availability_365.apply(lambda x : int(x))

df.rating = df.rating.apply(lambda x : int(x))

In [42]:

df['description'] = df.description.apply(lambda x : 'not mentioned' if x =='' else x )


df['name'] = df.name.apply(lambda x : 'not mentioned' if x =='' else x )

In [44]:

df['host_neighbourhood'] = df['host_neighbourhood'].replace("",method='ffill')

In [38]:

df.to_csv('Airbnb.csv',index=False)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         5555 non-null   object
 1   name                       5555 non-null   object
 2   description                5555 non-null   object
 3   property_type              5555 non-null   object
 4   room_type                  5555 non-null   object
 5   minimum_nights             5555 non-null   int64
 6   maximum_nights             5555 non-null   int64
 7   number_of_Reviews          5555 non-null   int64
 8   amenities                  5555 non-null   object
 9   price                      5555 non-null   float64
 10  host_iD                    5555 non-null   object
 11  host_name                  5555 non-null   object
 12  host_neighbourhood         5555 non-null   object
 13  host_total_listings_count  5555 non-null   int64
 14  longitide                  5555 non-null   float64
 15  latitude                   5555 non-null   float64
 16  availability_30            5555 non-null   int64
 17  availability_60            5555 non-null   int64
 18  availability_90            5555 non-null   int64
 19  availability_365           5555 non-null   int64
 20  rating                     5555 non-null   int64
dtypes: float64(3), int64(9), object(9)
memory usage: 911.5+ KB

In [45]:
df.to_excel('/content/sample_data/output_file.xlsx', index=False)

# New Section